<body>
<div class="container">
    <div class="buttons">
        <button class="btn bg-transparent col-2 " routerLink="">Home</button>
        <button class="btn bg-transparent col-2" routerLink="/app-welcome">Cricket</button>
        <button class="btn bg-transparent col-2" routerLink="/app-kabaddi" style="color: yellow;">Kabbadi</button>
    </div>
    <div class="btnn">
        <button class="buttonn" routerLink="/app-kabaddi-live"><span>Live Match</span></button><br>
        <button class="buttonn" routerLink="/app-kabaddi-recent" ><span>Recent Matches</span></button><br>
        <button class="buttonn" routerLink="/app-league" ><span>League Table</span></button>
    </div>
</div>
</body>
