
<body>
    <div class="container">
        <div class="buttons">
            <button class="btnn col-2 " routerLink="">Home</button>
            <button class="btnn col-2" routerLink="/app-welcome">Cricket</button>
            <!-- <button class="btnn col-2">Football</button> -->
            <button class="btnn col-2" routerLink="/app-kabaddi" style="background-color: red;">Kabbadi</button>
        </div>
        <div class="btn">
            <button class="button button-Top" routerLink="/app-kabaddi"><span>Go Back</span></button>
        </div>
    </div>
    <div class="containerr">
        <div class="row" *ngFor="let score of scoreList">
          <div class="col-sm" *ngIf="score.gameStatus=='Ended'">
            <!-- <img src="../../assets/csk.jpg" class="imp-responsive" alt=""> -->
            <p>Team ID : {{score.id}}</p>
            <p>Team Name : {{score.homeTeam}}</p>
            <p>Score : {{score.homeScore}}</p>
            <p>Game Status : {{score.gameStatus}}</p>    </div>
          <div class="col-sm" *ngIf="score.gameStatus=='Ended'"> 
            <img src="../../assets/vs.jpg" class="col-4 mx-auto img-Top" alt="">
          </div>
          <div class="col-sm" *ngIf="score.gameStatus=='Ended'">
            <!-- <img src="../../assets/rcb.jpg" class="imp-responsive" alt=""> -->
            <p>Team ID : {{score.id}}</p>
            <p>Team Name : {{score.awayTeam}}</p>
            <p>Score : {{score.awayScore}}</p>
            <p>game Status : {{score.gameStatus}}</p>
          </div>
        </div>
      </div>
 </body>