<body>
    <div class="row">
    <div class="container">
        <div class="buttons">
            <button class="btn col-2" routerLink="/app-front">Home</button>
            <button class="btn col-2" style="background-color: green;" routerLink="/app-home">Cricket</button>
            <!-- <button class="btn col-2">Football</button> -->
            <button class="btn col-2">kabbadi</button>
        </div>
        <div class="btnn">
            <button class="but" routerLink="/app-welcome"><span>Get Started</span></button>
        </div>
    </div>
    </div>
</body>